.feature-do .img img {
    width: 1100px;
    max-width: none;
    position: absolute;
    top: -100px;
    left: -250px;
}

.feature-do {
    padding-bottom: 100px;
}

.feature-cam .img img {
    width: 1000px;
    max-width: none;
    position: absolute;
    top: 50px;
    right: -120px;
}

.sec-process .sec-title {
    margin-bottom: 30px;
}

.tag.tag-website {
    background-color: #700961;
}

.tag.tag-chuyennghiep {
    background-color: #700961;
}

.tag.tag-tongthe {
    background-color: #e84a5f;
}

.tag.tag-chuyenbiet {
    background-color: #e03e36;
}


.faq {
    width: 100%;
    margin: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

    .faq ul {
        list-style: none;
    }

    .faq:after {
        content: "";
        display: table;
        clear: both;
    }

@media only screen and (min-width: 768px) {
    .faq {
        position: relative;
        margin: 0;
        box-shadow: none;
        /* padding-left: 380px; */
    }
}

.categories li {
    display: block;
    border: solid 1px #e1e1e1;
    margin-top: -1px;
    background-color: #f8f8f8;
}

    .categories li:nth-child(2n) {
        background-color: #fff;
    }

    .categories li:first-child,
    .categories li:first-child a {
        border-radius: 4px 4px 0 0;
    }

    .categories li:last-child,
    .categories li:last-child a {
        border-radius: 0 0 4px 4px;
    }

.categories a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 500;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
}

    .categories a:hover {
        color: #2386df;
    }

.categories .selected,
.categories .selected:hover {
    background: #2386df;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .categories {
        width: 20%;
        float: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
}

@media only screen and (min-width: 1024px) {
    .categories {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        z-index: 2;
    }


        .categories .selected::before {
            opacity: 1;
        }

        .categories.is-fixed {
            /* top and left value assigned in jQuery */
            position: fixed;
        }

    .categories1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        z-index: 2;
    }


        .categories1 .selected::before {
            opacity: 1;
        }

        .categories1.is-fixed {
            /* top and left value assigned in jQuery */
            position: fixed;
        }

    .no-js .categories {
        position: relative;
    }
}

.faq-items {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

    .faq-items.slide-in {
        -webkit-transform: translateZ(0) translateX(0%);
        -moz-transform: translateZ(0) translateX(0%);
        -ms-transform: translateZ(0) translateX(0%);
        -o-transform: translateZ(0) translateX(0%);
        transform: translateZ(0) translateX(0%);
    }

.no-js .faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

@media only screen and (min-width: 768px) {
    .faq-items {
        position: static;
        height: auto;
        width: 78%;
        float: right;
        overflow: visible;
        -webkit-transform: translateZ(0) translateX(0);
        -moz-transform: translateZ(0) translateX(0);
        -ms-transform: translateZ(0) translateX(0);
        -o-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        padding: 0;
        background: transparent;
    }
}

@media only screen and (min-width: 1024px) {
    .faq-items {
        float: none;
        width: 100%;
        padding-left: 290px;
    }

    .no-js .faq-items {
        padding-left: 0;
    }
}

.cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
}

    .cd-close-panel::before, .cd-close-panel::after {
        /* close icon in CSS */
        position: absolute;
        top: 16px;
        left: 12px;
        display: inline-block;
        height: 3px;
        width: 18px;
        background: #6c7d8e;
    }

    .cd-close-panel::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .cd-close-panel::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .cd-close-panel.move-left {
        right: 2%;
    }

@media only screen and (min-width: 768px) {
    .cd-close-panel {
        display: none;
    }
}

.faq-group {
    /* hide group not selected */
    display: none;
}

    .faq-group.selected {
        display: block;
    }

    .faq-group .faq-title {
        background: transparent;
        box-shadow: none;
        margin: 1em 0;
    }

.no-touch .faq-group .faq-title:hover {
    box-shadow: none;
}

.faq-group .faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 24px;
    /* font-weight: 700; */
    font-family: "Oswald";
    color: #000;
    text-align: left;
    text-transform: uppercase;
}

.no-js .faq-group {
    display: block;
}

@media only screen and (min-width: 768px) {
    .faq-group {
        /* all groups visible */
        display: block;
    }

        .faq-group > li {
            background: #ffffff;
            margin-bottom: 6px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
            -webkit-transition: box-shadow 0.2s;
            -moz-transition: box-shadow 0.2s;
            transition: box-shadow 0.2s;
        }

    .no-touch .faq-group > li:hover {
        box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }

    .faq-group .faq-title {
        margin: 2em 0 1em;
    }

    .faq-group:first-child .faq-title {
        margin-top: 0;
    }
}

.trigger {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 15px;
    padding-right: 50px;
    background: url(../images/table-pattern.jpg);
    background-size: auto 100%;
    line-height: 25px;
    font-weight: 600;
    font-family: "Oswald";
    color: #000;
    text-transform: uppercase;
}

    .trigger::after {
        content: "\f078";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 20px;
        top: 15px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transform: rotate(-90deg) translate(0,-50%);
        -moz-transform: rotate(-90deg) translate(0,-50%);
        -ms-transform: rotate(-90deg) translate(0,-50%);
        -o-transform: rotate(-90deg) translate(0,-50%);
        transform: rotate(-90deg) translate(0,-50%);
    }

.content-visible .trigger::after {
    -webkit-transform: rotate(-0);
    -moz-transform: rotate(-0);
    -ms-transform: rotate(-0);
    -o-transform: rotate(-0);
    transform: rotate(-0);
}

@media only screen and (min-width: 768px) {
    .trigger {
    }


        .trigger::before, .trigger::after {
            /* arrow icon on the right */
        }

    .content-visible .trigger::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.faq-content p {
    font-size: 14px;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.faq-content br {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .faq-content {
        display: none;
        padding: 17px 15px 10px;
    }

        .faq-content p {
        }

    .no-js .faq-content {
        display: block;
    }
}

.spanchuyenbiet {
    color: #e03e36;
    font-weight: bold;
    text-transform: uppercase;
}
