@import url(reset.css);
@import url(../fonts/Poppin/stylesheet.css);
@import url(../fonts/Oswald-font/stylesheet.css);
* {
  margin: 0;
  padding: 0;
}

img,
iframe {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'SVN-Poppins';
  font-size: 14px;
  line-height: 1.6;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.btn {
  display: inline-block;
  vertical-align: bottom;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: none;
  height: 40px;
  width: 100%;
  line-height: 20px;
  background-color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 0;
  outline: 0px;
}

.btn.btn-search {
  width: 103px;
  height: 32px;
  background: #FECD06;
  color: #fff;
  border-radius: 99px;
  font-size: 14px;
  line-height: 13px;
  font-weight: normal;
  text-transform: none;
}

.btn.btn-search:hover {
  color: #FECD06;
  background: #fff;
}

.btn.btn-main {
  width: 156px;
  height: 44px;
  border-radius: 99px;
  line-height: 25px;
}

.btn.btn-setting {
  width: 178px;
  height: 44px;
  background: #fff;
  color: #000;
  line-height: 25px;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .btn.btn-setting {
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
    font-size: 10px;
    line-height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .btn.btn-setting img {
    margin-top: -5px;
  }
}

.btn.btn-setting:hover {
  background: #c40000;
  color: #fff;
}

.btn.btn-detail {
  width: 154px;
  height: 40px;
  background: #080865;
  color: #fff;
}

.btn.btn-detail:hover {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #080865;
  color: #080865;
}

.mar-r-15 {
  margin-right: 15px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.fcontrol {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  border: solid 1px #ECECEC;
  padding: 10px 15px;
  line-height: 20px;
  outline: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.border-radius-form {
  border-radius: 99px 0 0 99px;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.sec {
  padding: 50px 0;
}

.colum {
  padding: 15px;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
}

.color-red {
  color: #adadad;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  margin-top: 160px;
}

@media screen and (max-width: 1024px) {
  main {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  main {
    margin-top: 80px;
  }
}

.header-top {
  background: url(../images/topbar-bg.png);
  padding: 12px 0;
  color: #fff;
}

.header-top .isner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .isner .header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .isner .header-top-left .text-intro {
  margin-right: 32px;
}

.header-top .isner .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .isner .header-top-right .list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .isner .header-top-right .list-social li a {
  width: 18px;
  height: 18px;
  display: block;
  background: #fff;
  color: #000;
  border-radius: 99px;
  text-align: center;
  line-height: 18px;
  margin: 0 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-top .isner .header-top-right .list-social li a:hover {
  background: #080865;
}

.header-top .isner .header-top-right .list-social li a:hover i {
  color: #fff;
}

.header-top .isner .header-top-right .list-social li a i {
  font-size: 12px;
}

.header-top .isner .header-top-right .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top .isner .header-top-right .user-box .icon {
  margin-right: 8px;
}

.header-bottom {
  background-color: white;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.header-bottom .isner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom .isner .main-logo {
  color: #080865;
}

.header-bottom .isner .main-logo img {
  width: 200px;
  margin-left: -20px;
  height: auto;
}

@media screen and (max-width: 576px) {
  .header-bottom .isner .main-logo img {
    width: 150px;
  }
}

.header-bottom .isner .main-menu .main-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown {
  position: relative;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown:hover .sub-menu-wrap .sub-menu {
  -webkit-transform: none;
  transform: none;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown .btn-dropdown {
  position: absolute;
  right: 0px;
  top: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #000;
  cursor: pointer;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown .sub-menu-wrap .sub-menu {
  position: absolute;
  top: 150%;
  z-index: 999;
  left: 0;
  white-space: nowrap;
  background-color: #080865;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  list-style-type: none;
  min-width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(1200px) rotateX(-90deg);
  transform: perspective(1200px) rotateX(-90deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown .sub-menu-wrap .sub-menu li {
  width: 100%;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown .sub-menu-wrap .sub-menu li:last-child a {
  border-bottom: 0px dashed #fff;
}

.header-bottom .isner .main-menu .main-menu-nav .dropdown .sub-menu-wrap .sub-menu li a {
  color: #fff;
  padding: 15px;
  display: block;
  font-size: 14px;
  text-transform: none;
  border-bottom: 1px dashed #fff;
}

.header-bottom .isner .main-menu .main-menu-nav li a {
  font-size: 13.5px;
  text-transform: uppercase;
  padding: 0 15px;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 500;
}

.header-bottom .isner .main-menu .main-menu-nav li a:hover {
  color: #080865;
}

.header-bottom .isner .hotline {
  background: #080865;
  padding: 33px 20px;
  position: relative;
}

.header-bottom .isner .hotline::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 123px 0;
  border-color: transparent #080865 transparent transparent;
  top: 0;
  position: absolute;
  left: -50px;
}

.header-bottom .isner .hotline::after {
  content: '';
  width: 100vh;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #080865;
}

.header-bottom .isner .hotline a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .isner .hotline a .icon-phone {
  margin-right: 10px;
}

.header-bottom .isner .hotline a .text {
  font-size: 14px;
  color: #fff;
}

.header-bottom .isner .hotline a .text .text-number {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .box-setting-both {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-banner {
  background: url(../images/banner-fix.png);
  padding-top: 300px;
  padding-bottom: 314px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.main-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 576px) {
  .main-banner::before {
    height: 100%;
  }
}

.main-banner .content-banner {
  position: relative;
  z-index: 1;
}

.main-banner .content-banner .title-banner {
  font-family: 'Oswald';
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .main-banner .content-banner .title-banner {
    display: none;
  }
}

.main-banner .content-banner .box-setting .text-setting {
  font-size: 18px;
  color: #fff;
  margin-bottom: 17px;
  margin-top: 33px;
}

@media screen and (max-width: 768px) {
  .main-banner .content-banner .box-setting .text-setting {
    margin-top: 15px;
  }
}

@media screen and (max-width: 576px) {
  .main-banner .content-banner .box-setting .text-setting {
    font-size: 13px;
  }
}

.main-banner .content-banner .box-setting img {
  margin-bottom: -4px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .main-banner .content-banner .box-setting {
    margin-bottom: 50px;
  }
}

.main-banner .content-banner .text-ab {
  position: absolute;
  bottom: 0;
}

.find-product-section {
  margin-top: -54px;
  padding-bottom: 60px;
}

@media screen and (max-width: 576px) {
  .find-product-section {
    margin-top: 0;
  }
}

.find-prd-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-prd-wrap .title {
  width: 100%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find-prd-wrap .title .hd {
  position: relative;
  text-transform: uppercase;
  width: 230px;
  max-width: 100%;
  text-align: center;
  padding: 11px 0;
  font-weight: 500;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  background: #fff;
  color: #080865;
}

@media screen and (max-width: 576px) {
  .find-prd-wrap .title .hd {
    font-size: 13px !important;
  }
}

.find-prd-wrap .title .hd img {
  margin-bottom: -5px;
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .find-prd-wrap .title .hd img {
    width: 10%;
    margin-bottom: -4px;
  }
}

.find-prd-wrap .title .hd.current {
  color: #fff;
  background: #080865;
}

.find-prd-wrap .title .hd.current img {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.search-form-wrap {
  width: 100%;
  padding: 20px 30px;
  background: #F3F3F3;
}

@media screen and (max-width: 576px) {
  .search-form-wrap {
    background-color: transparent;
  }
}

.search-form-wrap .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.search-form-wrap .search-form .dd {
  border: 0;
  border-radius: 0;
  outline: 0;
}

.search-form-wrap .search-form .dd .ddArrow {
  display: none;
}

.dd .ddChild {
  width: 130px;
}

.search-form-wrap .search-form .dd .ddChild::-webkit-scrollbar {
  width: 5px;
}

.search-form-wrap .search-form .dd .ddChild::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-form-wrap .search-form .dd .ddChild::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.search-form-wrap .search-form .dd .ddChild li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form-wrap .search-form .dd .ddChild li img {
  max-width: 35px;
}

.search-form-wrap .search-form .dd .divider {
  display: none;
}

.search-form-wrap .search-form .dd .ddTitle {
  background: #fff;
  border-radius: 0;
}

.search-form-wrap .search-form .dd .ddTitle .ddTitleText {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 576px) {
  .search-form-wrap .search-form .dd .ddTitle .ddTitleText {
    width: 125px;
  }
}

.search-form-wrap .search-form .dd .ddTitle .ddTitleText:before {
  content: '';
  position: absolute;
  right: 0;
  top: 6px;
  height: 30px;
  width: 1px;
  background: #80808063;
}

.search-form-wrap .search-form .dd .ddTitle .ddTitleText img {
  display: block;
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}

.search-form-wrap .search-form .dd .ddlabel {
  font-size: 13px;
  font-weight: 500;
  color: black;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form-wrap .search-form .select-form {
  min-height: 42px;
  width: 145px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.search-form-wrap .search-form .select-form .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  pointer-events: none;
  color: #080865;
}

.search-form-wrap .search-form .main-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 126px;
  height: 42px;
  padding: 0;
  /* padding-left: 20px; */
  text-align: center;
  line-height: 42px;
  white-space: nowrap;
  background: #080865;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  background-position: center center;
  background-size: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.search-form-wrap .search-form .main-btn:hover {
  background-color: white;
  color: #080865;
  border: 1px solid #080865;
  border-radius: 30px;
}

.search-form-wrap .search-form .main-btn:hover .search-form-wrap .input-form .f-input {
  border-radius: 0 30px 30px 0 !important;
}

@media screen and (max-width: 576px) {
  .search-form-wrap .search-form .main-btn {
    bottom: -50px;
    top: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
  }
}

.search-form-wrap .input-form {
  width: 100%;
  position: relative;
  padding-left: 20px;
}

@media screen and (max-width: 576px) {
  .search-form-wrap .input-form {
    padding-left: 0;
  }
}

.search-form-wrap .input-form input {
  padding-left: 0;
}

.search-form-wrap .input-form .f-input {
  border: solid 0px #ECECEC;
  height: 42px;
}

.search-form-wrap .search-form .select-form select {
  background: url(../images/path-find.png);
  background-size: cover;
  border: solid 0px #ececec;
}

.find-prd-wrap .title .hd.right {
  margin-left: -3px;
}

.pt-not {
  padding-top: 0 !important;
}

@media screen and (max-width: 768px) {
  .pt-not {
    padding-top: 50px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-not {
    padding-top: 30px !important;
  }
}

.main-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 38px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  font-family: 'Oswald';
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.sec-service-about {
  background: url(../images/bg-world.png);
  padding: 50px 0 80px 0;
}

.sec-service-about .desc {
  text-align: center;
  margin-bottom: 40px;
}

.table-service .columns {
  -webkit-box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 15px;
  background: #fff;
}

.table-service .columns .colum {
  width: calc(4 / 12 * 100%);
  height: auto;
}

.table-service .columns .colum:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-service .columns .colum:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-service .columns .colum:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-service .columns .colum:nth-child(4) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.table-service .columns .colum:nth-child(5) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.table-service .columns .colum:hover .content:before {
  opacity: 1;
}

.table-service .columns .colum:hover .content .title-intro {
  color: #080865;
}

.table-service .columns .colum:hover .content .btn-detail {
  opacity: 1;
}

.table-service .columns .colum:hover .content .icon:before {
  background: #080865;
}

.table-service .columns .colum .content {
  padding: 15px 15px;
  position: relative;
}

.table-service .columns .colum .content:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -15px;
  position: absolute;
  right: -15px;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #080865 transparent;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-service .columns .colum .content .icon {
  padding-bottom: 17.5px;
  position: relative;
  text-align: center;
  margin-bottom: 17.5px;
}

.table-service .columns .colum .content .icon:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-service .columns .colum .content .title-intro {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-service .columns .colum .content .desc-intro {
  text-align: center;
  margin-bottom: 20px;
}

.table-service .columns .colum .content .btn-detail {
  margin: 0 auto;
  opacity: 0;
  -webkit-box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.25);
}

.table-service .columns .colum .content .btn-detail:hover {
  background-color: white;
  color: #080865;
  border-radius: 30px;
  border: 1px solid #080865;
}

.arrow-up {
  position: absolute;
  left: 0;
  top: -25px;
}

.arrow-up:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 140px;
  top: -130px;
  right: 9px;
  background: #fff;
}

.color-fff {
  color: #fff !important;
}

.arrow-down {
  position: absolute;
  left: 0;
  top: 55px;
}

.arrow-down:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 355px;
  top: 6px;
  right: 9px;
  background: #fff;
}

.table-resgister .c-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-resgister .c-tab .c-tab__nav {
  width: calc(4 / 12 * 100%);
  position: relative;
}

.table-resgister .c-tab .c-tab__nav ul li {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  padding: 10px 0;
  display: flex;
}

.table-resgister .c-tab .c-tab__nav ul li i {
  font-size: 30px;
  display: none;
}

.table-resgister .c-tab .c-tab__nav ul li.active {
  color: #080865;
}

.table-resgister .c-tab .c-tab__nav ul li.active i {
  display: block;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.table-resgister .c-tab .c-tab__content {
  width: calc(8 / 12 * 100%);
  display: none;
  position: relative;
}

.table-resgister .c-tab .c-tab__content .box-img {
  margin-top: -20px;
}

.table-resgister .c-tab .c-tab__content .content {
    padding: 10px;
    position: relative;
    background: #fff;
    max-width: 410px;
    position: absolute;
    bottom: 30px;
    box-shadow: 10px 10px 30px;
    left: 25px;
}

.table-resgister .c-tab .c-tab__content .content:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  bottom: 0;
  position: absolute;
  right: 0;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent #080865 transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-resgister .c-tab .c-tab__content .content .title-intro {
  color: #080865;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-resgister .c-tab .c-tab__content .content .desc-intro {
  margin-bottom: 20px;
}

.table-resgister .c-tab .c-tab__content .content .btn-detail {
  margin: 0 auto;
  -webkit-box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.25);
}

.table-resgister .c-tab .c-tab__content.active {
  display: block;
}

.sec-hd-resgister {
  background: url(../images/banner-hd-fix.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sec-hd-resgister::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  content: '';
}

.sec-hd-resgister .title {
  position: relative;
  z-index: 1;
}

.table-customer .columns .colum {
  width: calc(6 / 12 * 100%);
}

.table-customer .columns .colum:nth-child(2n+1) .content {
  padding-right: 250px;
  text-align: right;
}

.table-customer .columns .colum:nth-child(2n+1) .content .icon {
  margin-left: auto;
}

.table-customer .columns .colum:nth-child(2n) .content {
  padding-left: 250px;
}

.table-customer .columns .colum .content {
  padding: 15px 0;
}

.table-customer .columns .colum .content:hover .icon {
  background: #080865;
}

.table-customer .columns .colum .content:hover .icon img {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.table-customer .columns .colum .content:hover .title {
  color: #080865;
}

.table-customer .columns .colum .content .icon {
  height: 84px;
  width: 84px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
  text-align: center;
  line-height: 103px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-customer .columns .colum .content .icon img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.table-customer .columns .colum .content .title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
}

.table-customer .columns .colum .content .desc {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.contact-bottom {
  position: absolute;
  width: 1170px;
  bottom: -97px;
  background: #080865;
}

.contact-bottom:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  bottom: 0;
  position: absolute;
  right: 0;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #fff transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url(../images/path-61.png);
  padding: 64px 0;
}

.contact-bottom ul li {
  width: calc(4 / 12 * 100%);
  text-align: center;
}

.contact-bottom ul li:nth-child(1) {
  border-right: 1px solid #fff;
}

.contact-bottom ul li:nth-child(2) {
  border-right: 1px solid #fff;
}

.contact-bottom ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-bottom ul li a .icon-ct {
  width: 50px;
}

.contact-bottom ul li a .text-ct {
  margin-left: 10px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.contact-bottom ul li a .text-ct i {
  font-weight: normal;
}

.sec-ql-customer {
  position: relative;
  padding: 50px 0 181px 0;
}

.sec-ql-customer .img-truck {
  position: absolute;
  top: 50%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sec-ql-customer .img-truck img {
  max-width: 98%;
}

.footer .table-footer {
  background: #010101;
  color: #ffffff9e;
  padding: 170px 0 60px 0;
}

.footer .table-footer .columns .colum {
  width: calc(3 / 12 * 100%);
}

.footer .table-footer .columns .colum .content-ft .logo-ft {
  font-size: 48px;
  color: #080865;
}

.footer .table-footer .columns .colum .content-ft .box-fanpage {
  margin-top: 30px;
}

.footer .table-footer .columns .colum .content-ft .box-fanpage .box-img {
  width: 100%;
  background-color: white;
  height: 200px;
}

.footer .table-footer .columns .colum .content-ft .title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.footer .table-footer .columns .colum .content-ft .list-ft li {
  margin-bottom: 10px;
}

.footer .table-footer .columns .colum .content-ft .list-ft li .hover-li {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .table-footer .columns .colum .content-ft .list-ft li .hover-li:hover {
  color: #080865;
}

.footer .table-footer .columns .colum .content-ft .list-ft-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .table-footer .columns .colum .content-ft .list-ft-social li {
  margin-right: 10px;
}

.footer .table-footer .columns .colum .content-ft .list-ft-social li a {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #000;
  display: block;
  border-radius: 99px;
  text-align: center;
  line-height: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer .table-footer .columns .colum .content-ft .list-ft-social li a:hover {
  background: #080865;
  color: #fff;
}

.copy-right {
  text-align: center;
  background: #080865;
  color: #fff;
  padding: 10px 0;
}

.font-bold-1 {
  color: #fff;
  font-weight: bold;
}

.m-backtotop {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: -50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #080865;
  border-radius: 25px;
  text-align: center;
  border: 2px solid #080865;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  color: #fff;
  z-index: 555;
}

.m-backtotop.active {
  bottom: 50px;
  opacity: 1;
}

.m-backtotop > div {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.m-backtotop > div.arrow {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  opacity: 1;
  color: #fff;
  font-size: 28px;
}

.m-backtotop > div.text {
  font-size: 5px;
  font-size: 0.5rem;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
          transform: translateY(50%) translateX(-50%);
  opacity: 0;
  margin-top: 1px;
  color: #fff;
}

.m-backtotop:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  bottom: 50px;
  cursor: pointer;
  background: black;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.m-backtotop:hover > div.arrow {
  -webkit-transform: translateY(-150%) translateX(-50%);
          transform: translateY(-150%) translateX(-50%);
  opacity: 0;
}

.m-backtotop:hover > div.text {
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

.user-box .acc-info {
  position: relative;
}

.user-box .acc-info:hover .acc-info-btn {
  color: white;
}

.user-box .acc-info:hover .acc-info-btn .icon {
  color: white;
}

.user-box .acc-info:hover .status-desktop {
  display: block;
}

.user-box .acc-info .acc-info-btn {
  color: #0a79f1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: .2s;
  transition: .2s;
}

.user-box .acc-info .acc-info-btn .icon {
  margin-right: 5px;
}

@media screen and (max-width: 991px) {
  .user-box .acc-info:hover .status-desktop,
  .user-box .acc-info:focus .status-desktop {
    display: none;
  }
}

.status-desktop {
  display: none;
  position: absolute;
  top: 99%;
  right: 0;
  z-index: 99;
  width: 300px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.status-desktop .status-wrap {
  position: relative;
  left: 0;
  top: 30px;
  width: 300px;
  line-height: 30px;
  background-color: white;
}

.status-desktop .status__header {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.status-desktop .status__header::before {
  content: "";
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-image: url(../images/status-header-bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: calc(100% + 23px);
}

.status-desktop .status__header h4 {
  color: white;
  font-size: 24px;
  z-index: 1;
}

.status-desktop .status__body > *:not(.links) {
  padding: 10px 20px;
}

.status-desktop .status__body > div:nth-child(odd) {
  background-color: #f8f8f8;
}

.status-desktop .status__body .level__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.status-desktop .status__body .level__info .rank {
  font-weight: bold;
}

.status-desktop .status__body .level__process {
  background: #ebebeb;
  border-radius: 12px;
  height: 20px;
  width: 100%;
  padding: 2px;
  margin: 5px 0;
  overflow: hidden;
}

.status-desktop .status__body .level__process span {
  display: block;
  height: 100%;
  max-width: 100%;
  border-radius: 9px;
  background-color: #080865;
  background-image: -webkit-repeating-linear-gradient(135deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
  background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
  background-size: 50px 50px;
  background-position: 0 0;
  overflow: hidden;
  -webkit-animation: move 4s linear infinite;
  animation: move 4s linear infinite;
}

.status-desktop .status__body .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.status-desktop .status__body .balance__number {
  margin-left: 10px;
  font-weight: bold;
}

.status-desktop .status__body .balance__number .vnd {
  color: #080865;
}

.status-desktop .status__body .links > a {
  padding: 10px 20px;
  display: block;
  text-align: start;
}

.status-desktop .status__body .links > a i {
  float: right;
  line-height: 2;
  color: #080865;
}

.status-desktop .status__body .links > a:hover {
  color: #080865;
}

.status-desktop .status__footer .ft-btn {
  font-size: 13px;
  display: block;
  width: 100%;
  padding: 10px 0;
  border-radius: unset;
  background-color: #06366a;
  color: white;
  text-align: center;
}

.status-mobile {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  right: -250px;
  padding: 20px 10px 10px 10px;
  overflow-y: auto;
  max-width: 250px;
  width: 100%;
  -webkit-box-shadow: -2px 0px 2px #00000045;
  box-shadow: -2px 0px 2px #00000045;
  z-index: 9999;
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 500;
}

.status-mobile.open {
  right: 0;
}

.status-mobile .username {
  color: #080865;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.status-mobile .user-menu-logo {
  margin-bottom: 15px;
  display: block;
  text-align: center;
  font-size: 48px;
  color: #080865;
}

.status-mobile .user-menu-logo img {
  max-height: 50px;
  margin: auto;
}

.status-mobile .user-info {
  margin-bottom: 15px;
  text-align: center;
}

.status-mobile .user-info .money {
  color: #080865;
}

.status-mobile .user-info .vip {
  text-transform: uppercase;
  color: #080865;
  font-weight: bold;
}

.status-mobile .nav-percent {
  width: 100%;
  min-height: 8px;
  border-radius: 8px;
  background-color: #e1e1e1;
  position: relative;
  margin-bottom: 15px;
}

.status-mobile .nav-percent-ok {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #080865;
  border-radius: 8px;
}

.status-mobile .menu-in-profile {
  list-style-type: none;
  margin-bottom: 15px;
}

.status-mobile .menu-in-profile > li:not(:last-child) {
  border-bottom: 1px solid #595959;
}

.status-mobile .menu-in-profile > li > a {
  padding: 15px 0;
  display: block;
  text-align: left;
  text-transform: uppercase;
}

.status-mobile .menu-in-profile > li > a > i {
  margin-right: 10px;
  color: #080865;
  font-size: 18px;
  width: 20px;
}

.status-mobile .main-btn {
  display: block;
  font-size: inherit;
}

@media screen and (max-width: 991px) {
  .status-mobile {
    display: block;
  }
}

.overlay-status-mobile {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  display: none;
  z-index: 9998;
}

.hamburger-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

.hamburger-btn .bar {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #080865;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.hamburger-btn .bar::before,
.hamburger-btn .bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #080865;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.hamburger-btn .bar::before {
  top: -8px;
}

.hamburger-btn .bar::after {
  top: 8px;
}

.hamburger-btn.active .bar {
  background-color: transparent;
}

.hamburger-btn.active .bar::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-btn.active .bar::after {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.main-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.main-menu-btn {
  display: none;
}

@media screen and (max-width: 576px) {
  .main-menu-btn {
    top: 60px !important;
  }
}

.main-menu.active {
  right: 0;
}

.box-logo-mobile {
  display: none;
}

.user-box .icon {
  color: #0a79f1;
  margin-left: 30px;
}

@media screen and (max-width: 1025px) {
  .contact-bottom {
    max-width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .main-menu {
    position: fixed;
    top: 0;
    left: unset;
    right: 100vw;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 20px 0 50px;
    text-align: left;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 998;
  }
  .main-menu-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 51;
    padding: 20px 0 50px;
    border-radius: 0;
    background: #000;
  }
  .main-menu-btn {
    display: block;
    margin-left: auto;
    position: absolute;
    top: 70px;
    right: 15px;
  }
  .main-menu-overlay {
    display: block;
  }
  .main-menu .main-menu-nav {
    display: block !important;
    margin-left: 0;
  }
  .header-bottom .isner .main-menu .main-menu-nav li a {
    color: #fff;
  }
  .header-top .isner .header-top-left {
    display: none;
  }
  .header-top .isner .header-top-right {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-bottom .isner .hotline {
    margin-right: -15px;
  }
  .header-bottom .isner .main-logo img {
    margin-left: -10px;
  }
  .header-bottom .isner .hotline {
    display: none;
  }
  .header-bottom .isner .main-menu .main-menu-nav li a {
    padding: 15px;
  }
  .main-banner .content-banner .title-banner {
    font-size: 32px;
  }
  .find-prd-wrap .title .hd {
    width: 150px;
    font-size: 20px;
  }
  .find-prd-wrap .title .hd.right {
    margin-left: -5px;
  }
  .find-product-section {
    padding-bottom: 0;
  }
  .main-title .title {
    font-size: 30px;
    text-align: center;
  }
  .table-service .columns .colum {
    width: 50%;
  }
  .table-service .columns .colum {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .table-resgister .c-tab .c-tab__nav {
    width: 100%;
  }
  .table-resgister .c-tab .c-tab__content {
    width: 100%;
  }
  .table-resgister .c-tab .c-tab__content .box-img {
    display: none;
  }
  .table-resgister .c-tab .c-tab__content .content {
    padding: 40px;
    position: relative;
    background: #fff;
    max-width: 100%;
    position: relative;
    margin-top: 40px;
    top: 0;
    left: 0;
  }
  .table-customer .columns .colum:nth-child(2n) .content {
    padding-left: 0;
  }
  .table-customer .columns .colum:nth-child(2n+1) .content {
    padding-right: 0;
  }
  .sec-ql-customer .img-truck {
    display: none;
  }
  .contact-bottom ul li a .icon-ct {
    width: 25px;
  }
  .contact-bottom ul li a .text-ct {
    margin-left: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 10px;
  }
  .contact-bottom {
    width: 100%;
    left: 0;
    bottom: -60px;
  }
  .contact-bottom ul li:nth-child(1) {
    border-right: 0px solid rgba(0, 0, 0, 0.2);
  }
  .contact-bottom ul {
    padding: 25px 0;
  }
  .contact-bottom ul li:nth-child(2) {
    border-right: 0px solid #fff;
  }
  .sec-ql-customer {
    padding: 30px 0 50px 0;
  }
  .footer .table-footer {
    padding: 100px 0 40px 0;
  }
  .footer .table-footer .columns .colum {
    width: 100%;
  }
  .main-menu .main-menu-nav li .sub-menu-wrap .sub-menu {
    webkit-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    position: relative !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 500px) {
  .table-service .columns .colum {
    width: 100%;
  }
}

.table-services .columns {
  margin: -30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-services .columns .colum {
  height: auto;
  padding: 30px 0;
}

.table-services .columns .colum .content {
  padding: 80px 50px 30px 50px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 348px;
  width: 348px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.table-services .columns .colum .content:hover {
  border: 3px solid #080865;
}

.table-services .columns .colum .content:hover .icon img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.table-services .columns .colum .content:hover .icon {
  background: white;
  border: 3px solid #080865;
}

.table-services .columns .colum .content:hover .btn-xt {
  background: #080865;
  color: #fff;
  border: 1px solid #080865;
}

.table-services .columns .colum .content:hover .btn-xt i {
  color: #080865;
  background: #fff;
}

.table-services .columns .colum .content .icon {
  width: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  position: absolute;
  left: 0;
  top: 0;
  background: #A0ADB6;
  border-radius: 50%;
  line-height: 105px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.table-services .columns .colum .content .icon img {
  -webkit-filter: brightness(58.5);
          filter: brightness(58.5);
}

.table-services .columns .colum .content .title {
  font-size: 20px;
  margin-bottom: 17px;
}

.table-services .columns .colum .content .desc {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.table-services .columns .colum .content .btn-xt {
  width: 134px;
  height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 99px;
  line-height: 18px;
  text-transform: none;
  font-weight: normal;
  padding: 5px;
}

.table-services .columns .colum .content .btn-xt i {
  padding: 3px;
  background: #080865;
  color: #fff;
  border-radius: 99px;
  margin-left: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.breadcrumb {
    list-style-type: none;
    background-color: #080865;
    text-transform: uppercase;
    padding-top: 15px;
}

    .breadcrumb li {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 15px;
    }
        .breadcrumb li a{
            color: #fff;
        }
        
        .breadcrumb li a:hover {
            color: #fff
        }

        .breadcrumb li + li::before {
            padding: 0 4px;
            content: "/\00a0";
            color: #fff;
        }

.service-page-section {
    padding: 50px 0 80px;
}

    .service-page-section .left {
        width: calc(100% / 12 * 4);
        padding-right: 30px;
    }

    .service-page-section .right {
        width: calc(100% / 12 * 8);
    }

@media screen and (max-width: 768px) {
    .service-page-section .left {
        width: 100%;
        padding-right: 15px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .service-page-section .right {
        width: 100%;
        margin-bottom: 50px;
    }
}

.sidebar .sidebar-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.sidebar + .sidebar {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .sidebar .sidebar-title {
        margin-bottom: 15px;
    }
}

.sidebar-list-item {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}

.sidebar-item .sidebar-item-title {
    color: #080865;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.sidebar-item + .sidebar-item {
    margin-top: 25px;
}

.sidebar-item .sidebar-item-nav {
    list-style-type: none;
}

    .sidebar-item .sidebar-item-nav li a {
        display: block;
        padding: 3px 0px 3px 20px;
        position: relative;
        -webkit-transition: .2s;
        transition: .2s;
        font-size: 18px;
    }

        .sidebar-item .sidebar-item-nav li a:hover {
            color: #080865;
        }

        .sidebar-item .sidebar-item-nav li a::before {
            content: '\f105';
            font-family: FontAweSome;
            color: #080865;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
            -webkit-transition: .3s;
            transition: .3s;
        }

    .sidebar-item .sidebar-item-nav li:hover a::before {
        left: 5px;
    }

.service-intro {
    font-weight: bold;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
}

.guide-list {
    padding-top: 15px;
}

    .guide-list .column {
        width: calc(100% / 3);
        overflow: hidden;
    }

.column {
    padding: 15px;
}

.ratio-box {
    display: block;
    position: relative;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
}

    .ratio-box img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        transition: 0.3s ease;
    }

.main-title-2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
    font-family: "SF Pro Display", sans-serif;
}

@media screen and (max-width: 500px) {
    .guide-list .column {
        width: 50%;
    }
}

@media screen and (max-width: 430px) {
    .guide-list .column {
        width: 100%;
    }
}

.guide-item2 {
    border: 1px solid #ccc;
    position: relative;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 1px 5px 16px rgba(220, 145, 145, 0.5);
}

    .guide-item2 .box-img {
        padding-top: 63%;
    }

    .guide-item2 .box-content {
        padding: 10px 10px 10px;
    }

        .guide-item2 .box-content .title {
            text-transform: uppercase;
            padding-top: 10px;
            font-weight: bold;
            margin-bottom: 15px;
            position: relative;
            -webkit-transition: .2s;
            transition: 1.0s ease;
        }

        .guide-item2 .box-content .desc {
            text-align: justify;
            font-size: 14px;
        }

        .guide-item2 .box-content .title::after {
            content: '';
            width: 30px;
            border-bottom: 3px solid #080865;
            position: absolute;
            top: 0;
            left: 0;
        }

    .guide-item2:hover .box-img img {
        -webkit-transform: translate(-50%, -50%) scale(1.05);
        transform: translate(-50%, -50%) scale(1.05);
    }

    .guide-item2:hover .box-content .title {
        color: #080865;
    }

.detail-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-title-2 {
    text-transform: uppercase;
}

.user-box .account-nav {
    list-style-type: none;
}

    .user-box .account-nav a {
        display: inline-block;
        padding: 0 10px;
        color: #f04d62;
    }

.acc-info {
    position: relative;
}

    .acc-info .acc-info-btn {
        display: inline-block;
        white-space: nowrap;
        color: #fff;
    }

        .acc-info .acc-info-btn .icon {
            margin-right: 5px;
        }

        .acc-info .acc-info-btn span {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
        }

    .acc-info:hover .acc-info-btn {
        color: #080865;
    }

    .acc-info:hover .status-desktop {
        display: block;
    }

@media screen and (max-width: 991px) {
    .acc-info:hover .status-desktop, .acc-info:focus .status-desktop {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .user-box {
        margin-left: auto;
    }
}

.status-desktop {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;
    width: 300px;
    font-size: 13px;
    font-weight: 500;
    color: #000;
}

    .status-desktop .status-wrap {
        position: relative;
        left: 0;
        top: 30px;
        width: 300px;
        line-height: 30px;
        background-color: white;
    }

    .status-desktop .status__header {
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

        .status-desktop .status__header::before {
            content: "";
            bottom: 0;
            left: 0;
            background-repeat: no-repeat;
            background-image: url(../images/status-header-bg.png);
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: calc(100% + 23px);
        }

        .status-desktop .status__header h4 {
            color: white;
            font-size: 24px;
            z-index: 1;
        }

    .status-desktop .status__body > *:not(.links) {
        padding: 10px 20px;
    }

    .status-desktop .status__body > div:nth-child(odd) {
        background-color: #f8f8f8;
    }

    .status-desktop .status__body .level__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .status-desktop .status__body .level__info .rank {
            font-weight: bold;
        }

    .status-desktop .status__body .level__process {
        background: #ebebeb;
        border-radius: 12px;
        height: 20px;
        width: 100%;
        padding: 2px;
        margin: 5px 0;
        overflow: hidden;
    }

        .status-desktop .status__body .level__process span {
            display: block;
            height: 100%;
            max-width: 100%;
            border-radius: 9px;
            background-color: #080865;
            background-image: -webkit-repeating-linear-gradient(135deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
            background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 7px, rgba(0, 0, 0, 0.1) 7px, rgba(0, 0, 0, 0.1) 9px);
            background-size: 50px 50px;
            background-position: 0 0;
            overflow: hidden;
            -webkit-animation: move 4s linear infinite;
            animation: move 4s linear infinite;
        }

    .status-desktop .status__body .balance {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .status-desktop .status__body .balance__number {
        margin-left: 10px;
        font-weight: bold;
    }

        .status-desktop .status__body .balance__number .vnd {
            color: #080865;
        }

    .status-desktop .status__body .links > a {
        padding: 10px 20px;
        display: block;
        text-align: start;
    }

        .status-desktop .status__body .links > a i {
            float: right;
            line-height: 2;
            color: #080865;
        }

        .status-desktop .status__body .links > a:hover {
            color: #080865;
        }

    .status-desktop .status__footer .ft-btn {
        font-size: 13px;
        display: block;
        width: 100%;
        padding: 10px 0;
        border-radius: unset;
        background-color: #080865;
        color: white;
        text-align: center;
    }

.status-mobile {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    right: -250px;
    padding: 20px 10px 10px 10px;
    overflow-y: auto;
    max-width: 250px;
    width: 100%;
    -webkit-box-shadow: -2px 0px 2px #00000045;
    box-shadow: -2px 0px 2px #00000045;
    z-index: 99999;
    background-color: #283338;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 500;
}

    .status-mobile.open {
        right: 0;
    }

    .status-mobile .username {
        color: #080865;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
    }

    .status-mobile .user-menu-logo {
        margin-bottom: 15px;
        display: block;
        text-align: center;
    }

        .status-mobile .user-menu-logo img {
            max-height: 50px;
            margin: auto;
        }

    .status-mobile .user-info {
        margin-bottom: 15px;
        text-align: center;
    }

        .status-mobile .user-info .money {
            color: #080865;
        }

        .status-mobile .user-info .vip {
            text-transform: uppercase;
            color: #080865;
            font-weight: bold;
        }

    .status-mobile .nav-percent {
        width: 100%;
        min-height: 8px;
        border-radius: 8px;
        background-color: #e1e1e1;
        position: relative;
        margin-bottom: 15px;
    }

    .status-mobile .nav-percent-ok {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #080865;
        border-radius: 8px;
    }

    .status-mobile .menu-in-profile {
        list-style-type: none;
        margin-bottom: 15px;
    }

        .status-mobile .menu-in-profile > li:not(:last-child) {
            border-bottom: 1px solid #595959;
        }

        .status-mobile .menu-in-profile > li > a {
            padding: 15px 0;
            display: block;
            text-align: left;
            text-transform: uppercase;
        }

            .status-mobile .menu-in-profile > li > a > i {
                margin-right: 10px;
                color: #080865;
                font-size: 18px;
                width: 20px;
            }

    .status-mobile .main-btn {
        display: block;
        font-size: inherit;
    }

@media screen and (max-width: 991px) {
    .status-mobile {
        display: block;
    }

    #header .open {
        z-index: 99999;
    }
}

.overlay-status-mobile {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    display: none;
    z-index: 99998;
}

@media screen and (max-width: 991px) {
    .acc-info .acc-info-btn span {
        position: absolute;
        right: 0;
        top: 0;
    }

    .acc-info .acc-info-btn .icon {
        display: none;
    }

    .main-btn {
        outline: 0;
        border: 0;
        border-radius: 0;
        font: inherit;
        cursor: pointer;
        display: inline-block;
        background-color: #080865;
        color: #fff;
        padding: 10px 34px;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        font-weight: 600;
        text-align: center !important;
    }
}

.main-title-2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
    font-family: "SF Pro Display", sans-serif;
}

.box-img img {
	width: 80%;
}